$dark-blue: #00005b;
$gold: gold;
$background-color: #222222;


html{
  font-size: 16px;
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;

  background-color: $background-color;
}